/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML & Body Setup */
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  /* background-color: #111; */
  background: linear-gradient(rgb(177, 169, 169),rgba(0, 255, 255, 0.677),rgba(0, 255, 255, 0.033));
  color: rgb(210, 205, 205);
}